.fs-button-icon {
    text-decoration: none;
    transition: color 0.28s cubic-bezier(0.4, 0, 0.2, 1) !important;

    &.fs-button-disabled,
    &:has(.fs-button-load) {
        cursor: default !important;
    }

    @include clickscreen {
        &:not(.fs-button-disabled, :has(.fs-button-load)):hover {
            cursor: pointer !important;
        }
    }
}