.fs-filter-button-menu {
    max-width: 400px;
    overflow: hidden;
}

.fs-filter-button-menu * {
    min-width: 0;
}

.fs-filter-button-chip {
    width: 100%;
}

.fs-filter-button-search > .v-input > .v-input__control > .v-field {
    border-radius: 44px !important;
}