.fs-snackbar {
    border-radius: var(--fs-snackbar-border-radius);
    
    .v-snackbar__wrapper {
        background-color: var(--fs-snackbar-background-color);
        color: var(--fs-snackbar-color);
        opacity: var(--fs-snackbar-opacity);
    }
}
